<div
    class="fixed left-0 z-50 w-full h-[4rem] border-t border-gray-400 dark:border-gray-600"
    style="bottom: env(safe-area-inset-bottom)"
>
    <!-- Drawer cards scrollable in x -->
    <div
        #drawerScrollRef
        class="w-full h-full overflow-x-auto scroll-smooth snap-x snap-mandatory hide-scrollbars"
    >
        <div
            class="flex flex-row flex-nowrap items-center font-medium h-full bg-black/60 dark:bg-gray-700/60"
            [ngStyle]="{
                'padding-left': leftPadding,
                'padding-right': rightPadding,
                width: drawerWidth,
            }"
        >
            @for (era of eras; track era.id; let idx = $index) {
                <button
                    #eraButtonRef
                    type="button"
                    (click)="onEraClick(era.eventGroupIndex)"
                    class="h-full w-[6rem] md:w-[8rem] lg:w-[10rem] flex-shrink-0 relative overflow-hidden border-gray-200 border-x hover:bg-gray-50 dark:hover:bg-gray-800 group dark:border-gray-600 snap-center"
                >
                    <img
                        [src]="era.background.url"
                        class="w-full h-full object-cover"
                        [style.backgroundPosition]="era.background.position ?? 'center'"
                        alt="Background {{ era.id }}"
                    />
                    <span
                        class="absolute text-sm md:text-lg inset-0 w-full flex items-center justify-center text-center font-semibold text-white bg-black/30 hover:bg-black/50 shadow-lg"
                        [innerHTML]="getModifiedEraTitle(era.title)"
                    >
                    </span>
                </button>
            }
        </div>
    </div>
</div>
